@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cormorant", serif;
}