
.hero-container {
  background: url("C:\Users\VINIT KUMAR\Desktop\B02F\Vinit\src\assets\Frame 23.jpg") no-repeat;
  height: 34vw;
  width: 100%;
  background-size: contain;
  position: relative;
  margin-bottom: 30px;
}
.header-content-img {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  font-family: outfit;
}

.header-content-img p {
  color: black;
  font-size: 1vw;
  display: none;
}
@media (max-width: 1000px) {
  #nav-links {
    margin-top: 10%;
  }
  .header-content-img p {
    display: block;
    font-size: 14px;
  }

  #m-p-1,
  #m-p-2,
  #m-p-3 {
    font-weight: 500;
  }

  #m-p-1 {
    color: #891993;
  }

  #m-p-2 {
    color: #5a156b;
  }

  #m-p-3 {
    color: #e52fde;
  }
}
@media (max-width: 460px) {
  #nav-links {
    margin-top: 10%;
  }
  .header-content-img p {
    font-size: 10px;
  }
}
@media (max-width: 330px) {
  .header-content-img p {
    font-size: 8px;
  }
  #m-p-1,
  #m-p-2,
  #m-p-3 {
    font-weight: bolder;
  }
}