.navbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#nav-top {
  background-color: #641566;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

#nav-top-contents {
  display: flex;
  gap: 15px;
  transform: skewX(-10deg);
  transition: transform 0.3s ease;
}

.icon {
  color: #ffffff;
  cursor: pointer;
  width: 30px;
  height: 29.4px;
  padding: 4px;
  opacity: 1;
}

#nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#logo {
  width: 249px;
  height: 96px;
  top: 44px;
  left: 31px;
  gap: 0px;
  opacity: 0px;
}

#nav-links {
  display: flex;
  width: Fixed (759px) px;
  height: Hug (47px) px;
  top: 75px;
  left: 388px;
  padding: 14px 35px 14px 35px;
  gap: 63px;
  opacity: 0px;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nav-links a {
  text-decoration: none;
  font-family: Cormorant;
  font-size: 16px;
  color: #000000;
}

#nav-links a:hover {
color: #641566;
font-weight: bold;
border-bottom: 2px solid #641566;
}

#login-button {
  font-family: Cormorant;
  width: 120px;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  background: #583781;
  color: #ffffff;
}

#login-button:hover {
  background-color: #4b0e4a;
}
.menu-icon {
  display: none;
}

@media (max-width: 1000px) {
  .menu-icon {
    display: block;
    font-size: 24px;
    color: black;
    cursor: pointer;
  }

  #logo {
    width: 90px;
    height: auto;
  }

  #login-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #6b46c1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  #nav-links.open {
    display: flex;
    padding: 10px;
    gap: 0;
    z-index: 10;
  }

  #nav-links a {
    padding: 15px 0;
    font-size: 18px;
    text-align: center;
    color: black;
    text-decoration: none;
  }

  #nav-links a:hover {
    background-color: #f0f0f0;
  }

  #nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .menu-open {
    margin-bottom: 50%;
  }
}
@media (max-width: 735px) {
  #nav-top {
    display: none;
  }
  #login-button {
    margin-left: 20%;
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  #nav-links a {
    font-size: 18px;
    padding: 0;
    margin-bottom: 3px;
    display: block;
  }
  .menu-open {
    margin-bottom: 60%;
  }
}
@media (max-width: 350px){
  #login-button{
    width: 80px;
  }
}